<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuc.epms.mapper.RemoveMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.nuc.epms.entity.Remove" >
    <id column="removeid" property="removeid" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="rmethod" property="rmethod" jdbcType="VARCHAR" />
    <result column="rdate" property="rdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    removeid, id, rmethod, rdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.nuc.epms.entity.RemoveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from remove
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from remove
    where removeid = #{removeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from remove
    where removeid = #{removeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.nuc.epms.entity.RemoveExample" >
    delete from remove
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.epms.entity.Remove" >
    insert into remove (removeid, id, rmethod, 
      rdate)
    values (#{removeid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{rmethod,jdbcType=VARCHAR}, 
      #{rdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.epms.entity.Remove" >
    insert into remove
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="removeid != null" >
        removeid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="rmethod != null" >
        rmethod,
      </if>
      <if test="rdate != null" >
        rdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="removeid != null" >
        #{removeid,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rmethod != null" >
        #{rmethod,jdbcType=VARCHAR},
      </if>
      <if test="rdate != null" >
        #{rdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.nuc.epms.entity.RemoveExample" resultType="java.lang.Integer" >
    select count(*) from remove
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update remove
    <set >
      <if test="record.removeid != null" >
        removeid = #{record.removeid,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rmethod != null" >
        rmethod = #{record.rmethod,jdbcType=VARCHAR},
      </if>
      <if test="record.rdate != null" >
        rdate = #{record.rdate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update remove
    set removeid = #{record.removeid,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      rmethod = #{record.rmethod,jdbcType=VARCHAR},
      rdate = #{record.rdate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.epms.entity.Remove" >
    update remove
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="rmethod != null" >
        rmethod = #{rmethod,jdbcType=VARCHAR},
      </if>
      <if test="rdate != null" >
        rdate = #{rdate,jdbcType=DATE},
      </if>
    </set>
    where removeid = #{removeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.epms.entity.Remove" >
    update remove
    set id = #{id,jdbcType=INTEGER},
      rmethod = #{rmethod,jdbcType=VARCHAR},
      rdate = #{rdate,jdbcType=DATE}
    where removeid = #{removeid,jdbcType=INTEGER}
  </update>
</mapper>